body{
    background-color: rgb(249, 231, 213);
    align-items: center;
    justify-content: center;
    border-color: rgb(161, 22, 106);
    border-width: 4px;
    border-radius: 60px;
    border-style: outset;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.headertop{
    background-color: rgba(100, 237, 237, 0.215);
    padding: 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
h1{
    background: linear-gradient(69.87deg, #c05eb1 6.21%, #6c37ac 21.77%, #ce2560 32.96%, #9f1696 52.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    src: url(fonts/FrederickatheGreat-Regular)
    font-size: 90px;
}
.fontfam{
    font-family: 'Amatic SC', cursive;
    src: url(fonts/AmaticSC-Bold)
    font-weight: 1000;
    font-size: xx-large;
    text-align: left;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px;
}
.item{
    background-color: rgb(243, 216, 209);
    margin: 50px;
    padding: 90px;
    padding-bottom: 0px;
    width: 770px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagestyle :hover img{
    transform: scale(1.2);
}
.nextpage{
    text-align: right;
}
.prevpage{
    text-align: left;
}
